/* SkillCard.css */
.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    width:250 px;
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.skill-image {
    width: 100%; /* L'image prendra toute la largeur du conteneur */
    height: 220px; /* Tu peux ajuster cette hauteur pour qu'elle ne prenne pas toute la hauteur de la carte */
    object-fit: cover; /* L'image se redimensionne pour couvrir le conteneur tout en gardant ses proportions */
    border-radius: 5%;
    margin-bottom: 0px; /* Crée un espace sous l'image */
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid #f0f0f0;
}

.skill-name {
    margin-top: 15%;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.skill-description {
    margin-top: 8px;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}
