/* App.css */
.app-container {
  display: flex;
  height: 100vh;
  background-color: #f7f2fb; 
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #f7f2fb   ;
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre autour du contenu principal */
  margin-left: 5.5rem;
  overflow: scroll;
  padding-left: 2.5rem;
  
}


/* Background spécifique pour la page Home */
.main-content.home-page {
  background-image: url("C:\\Users\\DELL\\Downloads\\Design sans titre.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




.main-content::-webkit-scrollbar {
  display: none; /* Cacher la barre de défilement */
}

.mobile-view {
  display: none;
}

/* Afficher uniquement la version web */
.website-view {
  display: block;
}



/* Pour les écrans de petite taille (version mobile) */
@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 0px; /* Appliquer une marge de 10px sur tous les côtés */
  }
  .website-view {
    display: none; /* Cacher la version web */
  }
  .mobile-view {
    display: block; /* Afficher la version mobile */
  }
  .main-content.message-page {
    all:initial;
    width: 100%;
  
  }
}
